*{
	box-sizing: border-box;
	margin:0;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.our-menu{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 175%;
	font-weight: bold;
}
div>div>p{
	font-size: 125%;
	padding: 0px;
	font-weight: bold;
	text-align: center;
}
h1{
	text-align: center;
}
p{
	padding: 10px;
}
.chicken{
	padding: 20px;
}
.beef{
	padding: 20px;
}
.sushi{
	padding: 20px;
}
#in-chicken{
	position: relative;
	margin-left: auto;
}
#in-beef{
	position: relative;
	margin-left: auto;	
}
#in-sushi{
	position: relative;
	margin-left: auto;
}
#chicken{
	background-color: #CAF0A1;
	border: 2px solid black;
}
#beef{
	background-color: #CAF0A1;
	border: 2px solid black;
}
#sushi{
	background-color: #CAF0A1;
	border: 2px solid black;
}
#chicken>div{
width: 150px; 
background-color: #A100A0;
border: 2px solid black;
border-top: 0px;
border-right: 0px;

}
#beef>div{
width: 150px; 
background-color: #00Ff01;
border: 2px solid black;
border-top: 0px;
border-right: 0px;
}
#sushi>div{
width: 150px; 
background-color: #00F0A0;
border: 2px solid black;
border-top: 0px;
border-right: 0px;
}
@media (min-width: 992px){
	.col-lg-4{
		width:33.33%;
		float: left;
		align-items: center;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.col-md-6{
		width:50%;
		float: left;
		align-items: center;
	}
	.col-md-6a{
		width:100%;
		float: left;
		align-items: center;
	}
}
@media (max-width: 767px){
	.col-sm-12{
		width:100%;
		float: left;
		align-items: center;
	}
}
